html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    /* width: 1360px; */
}

.main_class {
    width: 1278px;
}

.box_1 {
    /* border: 1px solid black; */
    height: 120px;
    /* padding-top: 5px; */
    background-color: lightblue;
}

.cls_lbl_or {
    text-align: center;
}

#lbl_or {
    margin-left: 40px;
    font-size: 18px;
    color: red;
}

.box_2 {
    /* border: 1px solid black; */
    height: 40px;
    /* padding-top: 5px; */
    background-color: lightblue;
    text-align: center;
}

span {
    color: red;
    background-color: white;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    font-style: italic;
    font-size: 18px;
}

.lbl_title {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.lbl_box_1 {
    /* padding-top: 12px; */
    padding-left: 40px;
    font-size: 18px;
}

.key_product {
    font-size: 18px;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
    color: blue;
}

.btn {
    width: 100px;
}

.btn_search {
    margin-left: 150px;
}

.grid_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 800px auto;
}

.box_table {
    overflow: auto;
    width: 800px;
}

#thead_data1 {
    background-color: lightgray;
    font-size: 12px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    text-align: center;
}

#th_head {
    border: 1px solid black;
}

#tbody_data1 {
    height: auto;
    font-size: 10px;
}

.lbl_box_btn {
    padding-left: 30px;
    padding-top: 20px;
}

.select_status {
    font-size: 18px;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
    text-align: center;
}

#btn_save {
    margin-left: 30px;
}

#btn_save,
#btn_cancel {
    margin-top: 5px;
    width: 100px;
}