<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Absolute</title>
    <style>
        p {
            font-size: 100%;
            /*ขนาดปกติ 100% = 16px*/
        }
        
        html {
            font-size: 20px;
        }
        
        div {
            font-size: 20px;
            font-size: 2rem;
            /*1rem = 16px*/
        }
        
        body {
            font-size: 5px;
        }
        
        div {
            font-size: 2em;
        }
    </style>
</head>

<body>
    <p>CSS3</p>
    <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat velit quia tenetur, architecto assumenda voluptate ipsum mollitia optio magnam sapiente unde nam molestiae et deserunt facere iusto minima voluptates veritatis?
    </p>
    <p class="message2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex similique tempora, quo ipsam qui omnis atque distinctio veniam aliquam enim dolorem, minus illo tempore illum nisi cum provident maxime! Repellendus.
    </p>

    <p>CSS3</p>
    <p>CSS3</p>
    <p>CSS3</p>
    <p>CSS3</p>
    <p>CSS3</p>

    <div>
        Test (10 x 2 = 20px)
        <div>
            Test (20 x 2 = 40px)
            <div>
                Test (40 x 2 = 80px)
                <div>
                    Test (80 x 2 = 160px)
                </div>
            </div>
        </div>
    </div>
</body>

</html>