<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASS</title>
    <style>
        h1 {
            color: red;
        }
        
        .b {
            color: green;
            background-color: lightcoral;
        }
        
        #a {
            color: blue;
        }
        
        .c {
            background-color: pink;
        }
    </style>
</head>

<body>
    <h1 class="a" id="a">Anuphap Karezo</h1>
    <h1 class="b">Anuphap Karezo</h1>
    <h1 id="b">Anuphap Karezo</h1>
    <h1 class="b">Anuphap Karezo</h1>
    <h1>Anuphap Karezo</h1>
    <div class="b">
        DIV CLASS : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum sint enim laborum quidem culpa, facere consectetur magnam nemo dignissimos veritatis labore impedit ea perspiciatis aperiam porro, aliquam possimus nulla nihil.
    </div>
    <span class="c">
        SPAN CLASS : Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit consectetur dolorem amet a eligendi? Qui, quidem laudantium nobis iure quia totam quisquam inventore provident odit, vitae error, vero minus magnam?
    </span>

    <h1 align="center">HTML Entity</h1>
    <p>Anuphap&nbsp;&nbsp;Karezo</p>
    <!-- &nbsp; = spacebar หรือ ช่องว่าง เว้นวรรค -->
    <p>5&gt;2</p>
    <!-- &gt; = greater than หรือ มากกว่า -->
    <p>2&lt;5</p>
    <!-- &lt; = less than หรือ น้อยกว่า -->
    <p>&empty;ห้ามเข้า</p>
    <p>&pound;</p>
</body>

</html>