<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Width Height</title>
    <style>
        .max_min {
            background-color: lightgreen;
            max-width: 700px;
            min-width: 200px;
            height: 200px;
        }
        
        .width_auto {
            background-color: orange;
            height: 500px;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="max_min">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nam inventore nostrum quibusdam quod fugiat aperiam voluptas possimus accusamus labore et fuga, mollitia, modi libero beatae? Tempore, odio possimus. Veritatis.</div>
    <hr>
    <div class="width_auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, esse, officia necessitatibus ipsam explicabo voluptatum velit sit, odit ex eveniet harum fuga saepe error dignissimos blanditiis doloremque ipsum? Sunt, amet!</div>

</body>

</html>