<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCTT Project(2) --> Test Formulas</title>
    {% load static %}
    <script src="{% static 'js/Bootstrap/jquery-3.6.0.js' %}"></script>
</head>

<body>
    <div class="main_class">
        <!-- การ link ในส่วนของ Bootstrap => Js/css -->
        <script type="text/javascript" src="{% static 'js/Bootstrap/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap.min.css' %}">

        <!-- --------------------------------------------------------------------------------------------- -->
        <link rel="stylesheet" href="{% static 'css/PCTT_project/Page_FPC_system_test_formulas.css' %}">
        <div class="box_1">
            <span>PCAP</span>
            <label class="lbl_title" for="">PCTT project(2) ---> Test Formulas</label>
        </div>
        <div class="grid_container">
            <div></div>
            <div>
                <input type="text" name="" class="txt_formulas">
            </div>
            <div></div>

            <div></div>
            <div class="btn_test_formulas">
                <input class="btn btn-sm btn_ok" type="button" value="OK">
                <input class="btn btn-sm btn_cancel" type="button" value="Cancel">
            </div>
            <div></div>

            <div></div>
            <div>
                <input type="text" name="" class="txt_formulas">
            </div>
            <div></div>
        </div>
    </div>
</body>

</html>