<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>PCTT Project --> Clean scan POS MOS</title>
    {% load static %}
    <script src="{% static 'js/Bootstrap/jquery-3.6.0.js' %}"></script>
</head>

<body>
    <div class="main_class">
        <!-- การ link ในส่วนของ Bootstrap => Js/css -->
        <script type="text/javascript" src="{% static 'js/Bootstrap/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap.min.css' %}">

        <!-- --------------------------------------------------------------------------------------------- -->
        <link rel="stylesheet" href="{% static 'css/PCTT_project/Page_master_clean_scan.css' %}">
        <div class="box_1">
            <span>PCAP</span>
            <label id="lbl_title" for="">PCTT project ---> Clean scan POS MOS</label>
            <div>
                <label id="lbl_id" for="">ID : </label>
                <input id="txt_id" type="text">

                <label id="lbl_pos_mos" for="">POS/MOS : </label>
                <input id="txt_pos_mos" type="text">
            </div>
        </div>
        <div>
            <table id="table_data1" class="table table-striped table-hover table-bordered">
                <thead id="thead_data1">
                    <tr>
                        <th id="th_head" width="70px">MOS IS</th>
                        <th id="th_head" width="70px">Product</th>
                        <th id="th_head" width="30px">Rev.</th>
                        <th id="th_head" width="70px">Process</th>
                        <th id="th_head" width="70px">Mat no.</th>
                        <th id="th_head" width="70px">Wo no.</th>
                        <th id="th_head" width="70px">List</th>
                        <th id="th_head" width="70px">Status</th>
                    </tr>
                </thead>
                <tbody id="tbody_data1">
                    <tr>
                        <th>1</th>
                        <th>Machine</th>
                        <th>Curr. Machine</th>
                        <th>Regis. Date</th>
                        <th>Desc</th>
                        <th>Plant</th>
                        <th>Status</th>
                        <th>Modified By</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>Machine</th>
                        <th>Curr. Machine</th>
                        <th>Regis. Date</th>
                        <th>Desc</th>
                        <th>Plant</th>
                        <th>Status</th>
                        <th>Modified By</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>Machine</th>
                        <th>Curr. Machine</th>
                        <th>Regis. Date</th>
                        <th>Desc</th>
                        <th>Plant</th>
                        <th>Status</th>
                        <th>Modified By</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>